body{
    background-color: white;
}
#leftArrow{
    height:20px;
    margin-top: 150%;
    margin-left: 30px;
}
.MYBag{
    margin-top: -10%;
    padding-bottom: 30px;
    text-align: center;
}
.back{
    background-color: white;
    font-size: medium;
    border:none;
}
#empty{
    text-align: center;
    font-size:20px;
    margin-top:-5%;
}
.prodCart{
    display: flex;
}
.cart{
    width:65%;
}
.payment{
    width:35%;
    background-color: rgb(231, 238, 238);
    height:350px;
}
.mainDivCart{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-top: 10%;
}
.mainDivCart .bag{
    display: flex ;
    justify-content: start;
    flex-wrap: wrap ;
    height:300px;
    background-color: white;
    color: black;
    width:100%;
    border-top: 1px gray;
    border-bottom: 1px rgb(34, 33, 33);
    margin-bottom: 5%;
}
.bag img{
    height:250px;
}
.mainDivCart .detail{
    width:60%;
    margin-top:7%;
    margin-left:3%;
}
.detail #title{
    font-size:20px
}
.detail .item{
    font-size:15px;
    color: gray;
}
.detail .size{
    display: flex;
    gap:20px;
    color: gray;
    height:50px;
}
.detail #remove{
    background-color: white;
    border:none;
    color: gray;
    font-size: 15px;
    text-decoration: underline;
    margin-left:-10px;
    margin-top: 15%;
}
.detail #price{
    margin-left:25%;
    font-size: 20px;
    margin-top: -3%;
}

.payment .cost{
    display: flex;
    justify-content: space-between;
    padding-left:3%;
    padding-right: 3%;
    height:35px;
}
.payment .pay{
    width:95%;
    margin:15px 10px 0 10px;
    height:35px;
    font-size:15px;
    border-color: blue;
}
.payment #checkout{
    background-color: blue;
    color:white;
}
.payment #paypal{
    background-color: white;
    color:blue;
}
 #paypal:hover{
    background-color: blue;
    color:white;
}

@media(max-width:1094px){
    .mainDivCart .detail{
        width:55%;
        margin-left: 20px;
    }
    #remove{
        padding-left:20px;
    }
}
@media(max-width:1024px){
    .prodCart{
        display: flex;
        flex-direction: column !important;
    }
    .cart{
        width:100%;
        height:400px;
        padding-left: 10%;
    }
    .bag .detail{
        width:60%;
        margin-top:0;
    }
    .payment{
        width:100%;
    }
    .detail #price{
        font-size:15px;
    }
}
@media(max-width:730px){
    .bag img{
        height:200px
    }
    .cart .detail{
        width:50%;
    }
    .cart{
        height: 300px;
        padding: 0;

    }
    .detail #price{
        font-size:15px;
        margin-top: 2%;
        margin-left: 0;
    }
}
@media(max-width:464px){
    .bag img{
        height: 150px;
    }
    .cart .detail{
        width:40%;
    }
    .cart{
        height: 300px;
        padding: 0;
    }
    #price{
        font-size:10px;
    }
    #remove{
        padding-left: 15px;
    }
}
@media (max-width:300px){
    .prodCart .cart{
        display: flex;
        flex-direction: column;
    }
    .bag .detail{
        width:100%;
        justify-content: center;
    }
    .bag img{
        width:100%;
    }

}