/* ReadMoreLess.css */
.text {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.2;
    align-items: center;
  
}

.more-text {
    display: inline; /* Display additional text inline when expanded */

   

}
.top{
    margin-top: 20px;
    width: 100%;
}
.text-size div{
    width: 100px !important;
    max-height: 20px;
    margin-top: 20px;

}

.toggle-btn {
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.toggle-btn:hover {
    background-color: #0056b3;
}

.container {
    display: grid; /* Enables grid layout */
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
   
    
}
.container h2{
    margin-top: 50px;
    padding: 20px;
}
.image-container {

   
    display: block;
    align-items: center;
    width: 100%; 
}
.size
{
    width: 100%;
    height: 100%;
}
.img-text{
    position:absolute;
    padding: 20px;
    font-size: 300%;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    size-adjust: relative;
}


