.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns layout */
    padding: 20px;
    gap: 0px;
    width:100%;
    margin-top: 10px;
    
}
.view-more-container {
    text-align: center;
    margin: 20px 0;
}

.view-more-button {
    color: #fff;
    border-color:blue;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
}
.view-more-button:hover{
    background-color:blue;
}
.product-containor{
    padding: 20px;
    margin-top: 10px;
}

/* Optional: Add media queries for responsive design */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr); /* 3 columns for medium screens */
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}
