
#recommend{
    font-size: 30px;
    font-weight: 300;
    padding-top:10px;
    padding-bottom:10px;
}
#imge{
    width:600px
}
.productdata{
    font-size: 15px;
    font-weight: 300;
    width:100%;
}
.Prods{
    display: flex;
    overflow-x: scroll;
    width:100%
}
.productdata p{
    margin-left: 20px;
}

@media(max-width:600px){
    #imge{
        width:400px
    }
}
@media(max-width:400px){
    #imge{
        width:200px
    }
}