
.Detail{
    display: flex;
}

.Vertical {
    width: 65%;
    margin-top: 0;
    height:900px;
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
}
.Vertical #image{
    width:100%
}

.prodDiv{
    width:35%;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:8%;
}
#new{
    margin-bottom: 10%;

}
#new,.p{
    color: rgb(148, 152, 156);
}
#new{
    margin-top: 100px;
    height:30px
}

#title{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: -9%;
    width:95%;
    height:40px
}

.color{
    font-size:20px;
}

.bag,.gift{
    width:95%;
    height:40px;
    margin-top:2%;
    font-size:15px;
    border-color: blue ;
    justify-content: center;
}
.bag{
    background-color: blue;
    color: white;
}
.gift{
    background-color: white;
    color: blue;
}
.gift:hover{
    background-color: blue;
    color: white;
}

/*Modal style*/
.Modal,.ModalContent{
    height:600px;
    margin:0% 30% 0% 30%;
    overflow-y: scroll;
    padding: 3%;
    background-color:white;
    box-shadow: 0 0 100px black;
}
.ModalHeader{
    width:100%;
    display: flex;
    justify-content: space-between;

}
.ModalCloseButton{
    width: 10%;
    border: none;
    background-color: white;
}
.ModalBody img{
    width: 100%;
}
.slick-prev,.slick-next{
    background-color: rgb(109, 103, 103) !important;
}
.ModalBody .gifter{
    text-align: center;
}
.ModalFooter{
    width:95%;
    height:40px;
    background-color: blue;
    color: white;
    font-size:15px;
    border-color: blue;
}

.more{
    text-decoration: underline;
}
.more:hover{
    color: blue;
}
.info{
    color:blue;
}
.info:hover{
    text-decoration: underline;
}
.p{
    margin:5px 0;
}
#about{
    margin-top: 40px;
}
.det{
    margin-left: 5px;
}
.data{
    display: flex;
    justify-content: space-between;
    width:95%;
    border:none;
    background-color: white;
    font-size: 20px;
    height:35px
}
.data:hover{
    color: blue;
}
.contact{
    display: block;
    font-size: 20px;
    margin-left: 1%;
    margin-top: 1%;
}
.contact:hover{
    color:blue;
}

/*Select size*/
#exitBtn{
    font-size:20px;
    border: none;
    background-color: white ;
    margin-right: 5%;
}
#exitBtn:hover{
    color:blue;
}
.exit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -40px;
    margin-bottom: 50px;
}
#btn button{
    background-color: white;
    border:none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 5%;
}
#btn button:hover{
    color:blue;
}
#chart{
    text-decoration: underline;
}
#chart:hover{
    color: blue;
}

/*Delivery and returns*/
h4{
    height: 20px;
}
.shipping{
    margin-top: 20px;
}
.shipping h4{
    margin-top:20px;
}
.shipping .more{
    text-decoration: underline;
    margin-top:20px !important;
}

/*Gift packaging*/
.pack{
    height:810px;
    overflow-y: scroll;
    margin-top:-60px;
}
.exit{
    padding-bottom:15px;
}
.pack h4{
    font-size:20px;
    padding:5px;
    height:35px;
}
.pack img{
    width:100%;
}

/*Contact Us*/
.contacts{
    margin-top:-40px;
}
.contacts h4{
    font-size: 20px;
    height:35px;
}
.num{
    text-decoration: underline;
}


.Verticalcar{
    width:100%;
    height: 350px;
    flex-direction: row !important;
    overflow-y:scroll ;
}
.Verticalcar img{
    width:100%;
}

/*Responsiveness*/
@media ( max-width: 1024px){
    .Detail{
        display: flex;
        flex-direction: column;
    }
   
    .prodDiv{
        width:100%;
        margin-top: 0;
    }
    #new{
        margin-top: 10px;
        height:10px
    }
    #title{
        margin-top: 0;
    }
    .exit{
        margin-top: 0;
    }
    #btn button{
        font-size: 15px;
        margin-bottom: 2%;
    }
    .Modal,.ModalContent{
        padding:10px;
        margin:0;
    }
}
@media(max-width:370px){
    .Verticalcar img{
        height:300px;
        overflow-x: hidden;
    }
}
